* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: white;
}

.header {
    background-color: #000000;
    display: flex;
    padding: 50px 0;
    font-size: 40px;
    border: black 1px solid;
    box-shadow: 0 0 20px black ;
    

}

.header h2 {
    color: white;
    
    margin-right: 0;
    margin-top: 200px;
    margin-left: 250px;
    font-size: 10px;
}

.logo-site {
    width: 200px;
    
}

.lema {
    color: white;
    display: inline;
    margin-top:auto ;
    margin-left: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.container {
    display: flex;
    
}



.navbar {
    width: 15%;
    height: 300px;
    padding: 30px;
}

.menu-list {
    list-style: none;
    
}

.menu-list li a{
    text-decoration: none;
    background-color: black;
    color: white;
    display: block;
    width: 150px;
    border-radius: 10px 0 10px;
    padding: 10px;
    margin:  10px auto;
}

.menu-list li a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    display: block;
    border: black 1px solid;
    box-shadow: 0 0 10px black ;
    
}

.content {
    background-color: #888585;
    margin-top: 35px;
    width: 84%;
    padding: 30px;
    border-radius: 20px 0 0 0;
    display: flex;
}

.content h1 {
    display: inline-block;
    margin-bottom: 5px;
    
}

.content img {
    width: 250px;
    border-radius: 10px;
    
    
}

.content p {    
    margin-left: 10px;
    
}
/* ----------------------------------------------------------------------------------------------- */
.products-content {
    background-color: #888585;
    margin-top: 35px;
    width: 84%;
    padding: 30px;
    border-radius: 20px 0 0 0;
    
}

.products-list {     
    list-style: none;
    display: flex;
}

.products-list li img {    
    margin-top: 30px;
    display: block;
    width: 100px;
}

.products-list li img:hover{    
    margin-top: 30px;
    display: block;
    border:black 2px solid;
}

.products-list li {    
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.products-title {
    font-family: 'Oswald', sans-serif;
}
/* ----------------------------------------------------------------------------------------------- */
.contacts-content {
    background-color: #888585;
    margin-top: 35px;
    width: 84%;
    padding: 30px;
    border-radius: 20px 0 0 0;
}

.contacts-content {
    background-color: #888585;
    margin-top: 35px;
    width: 84%;
    padding: 30px;
    border-radius: 20px 0 0 0;
}

.contacts-list {
     
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts-list li {
    display: flex;
    
}

.contacts-list li img {
    flex-direction: column;
    margin-top: 30px;
    width: 50px;
}

.contacts-title {
    margin-top: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color: #cac8c8;
    text-align: center;
    padding: 20px 0;
}